@font-face {
  font-family: surreal;
  src: url("../surreal.otf");
  /* font-weight: 500;
  font-style: italic; */
}

@font-face {
  font-family: raleway;
  src: url("../Raleway-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgba(58, 105, 143, 0.5);
  background-image: url("../Background2.jpg");
  height: 100%;
}

/* --- header --- */
.header {
  display: flex;
}

.gameName {
  margin-top: 10px;
  font-size: 80px;
  font-family: surreal;
}

.roundScore {
  background-color: rgba(216, 222, 227, 0.7);
  border-radius: 15px;
  padding: 10px;
  position: absolute;
  top: 2%;
  left: 12%;
  display: flex;
  flex: column;
}

.boardWord {
  font-family: surreal;
  border-top: 2px solid black;
  margin-top: 2px;
  padding-top: 5px;
}

.boardWord1 {
  font-family: surreal;
  margin-top: 2px;
  padding-top: 5px;
}

.boardNum {
  font-family: raleway;
  font-size: 30px;
}

/* --- Overlay --- */
.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  opacity: 1;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.overlay.hidden {
  display: none;
}

.messageArea {
  position: relative;
  display: flex;
  height: 22%;
  top: 15%;
  background-color: rgba(228, 238, 248, 0.8);
  padding: 20px;
  border-radius: 15px;
  border: none;
}

.messageArea.hidden {
  display: none;
}

.gameOver {
  font-family: surreal;
}

.playAgain {
  font-family: surreal;
}
/* --- ScreenSizing --- */
@media (max-width: 1700px) {
  .roundScore {
    left: 7%;
    top: 120px;
  }
}

@media (max-width: 1425px) {
  .roundScore {
    left: 0%;
  }
}

@media (max-width: 1215px) {
  .roundScore {
    left: 0%;
    z-index: 10;
  }
}
@media (min-width: 768px) {
  .gameOver {
    font-size: 60px;
  }

  .playAgain {
    font-size: 30px;
  }

  .playButton {
    font-family:
      "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    margin: 10px;
    border: none;
  }
}
