* {
  margin: 0;
  padding: 0;
  background-color: rgba(230, 241, 250, 0.5);
}

.gameframe {
  max-width: 480px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1 rem;
}

.cards {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.gamecard {
  background-color: rgba(247, 232, 210, 0.8);
  aspect-ratio: 5 / 7;
  border: 1px solid black;
  border-radius: 15px;
  padding: 1rem;
}
.rotImage {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .gameframe {
    max-width: 1200px;
  }

  .cards {
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

@media (min-width: 1024px);
